{% extends 'base.html' %}

{% block title %} - BMI Calculator{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calculator-forms.css')}}">
{% endblock %}

{% block content %}
{% if request.endpoint == 'bmi_body_calc' %}
<body class="bmi-body">
{% else %}
<body>
{% endif %}
    <div class="form-container">
        <form class="form" action="{{ url_for('bmi_body_calc') }}" method="POST">

            <div class="title">BMI Calculator</div>
            {% if current_user.is_authenticated %}
                <div class="user-info-container">Your BMI : {{user_bmi}}</div>
                <div class="user-info-container">Your Weight Status : {{user_result}}</div>
            {% endif %}
            
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {%for category, message in messages%}
                        <div class="alert alert-{{category}} smaller-text" role="alert" id="flash-message">
                        {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if form.weight_kg.errors %}
                {% for error in form.weight_kg.errors %}
                <div class="alert alert-danger mt-2 smaller-text" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {% if form.height_cm.errors %}
                {% for error in form.height_cm.errors %}
                <div class="alert alert-danger mt-2 smaller-text" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        <br><br>

        <div class="input-container ic1">
            {{ form.weight_kg(placeholder='',class='input', required="required") }}
            <div class="cut"></div>
            {{form.weight_kg.label(class='placeholder')}}
        </div>
        <div class="input-container ic2">
            {{ form.height_cm(placeholder='',class='input', required="required") }}
            <div class="cut"></div>
            {{form.height_cm.label(class='placeholder')}}
        </div>
        <button type="text" class="submit">Calculate</button>
            {% if form.is_submitted() %}
                    <div class="result-container">BMI: {{ bmi }}</div>
                    <div class="result-container">WEIGHT STATUS: {{ result }}</div>
            {% endif %}
        
    </form>
    
  </div>
</body>
{% endblock %}
