{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {%for category, message in messages%}
                        <div class="alert alert-{{category}}" role="alert" id="flash-message">
                          {{message}}
                        </div>
                      {% endfor %}
                  {% endif %}
    {% endwith %}
<div class="jumbotron text-center mt-5 top-container">
  <div class="d-flex justify-content-center mt-4">
    <div class="d-flex justify-content-center align-items-center box-calculator mr-4"> 
     
      <a href="{{url_for('calorie_by_activities',username=current_user.username)}}">
  
        <img src="{{ url_for('static', filename='img/cal-burned.png')}}"  width="80px" alt="counter icon"> 
        <h3>Calorie burned <br>by activities</h3>
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center box-calculator mr-4"> 
      <a href="{{url_for('bmi_body_calc')}}">
        <img src="{{ url_for('static', filename='img/bmi-calc.png')}}"  width="80px" alt="counter icon"> 
        <h3>Bmi body mass<br>calculator</h3>
      </a>
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/hide_flash.js')}}"></script>
{% endblock %}
