{% extends 'base.html' %}

{% block title %} - {{current_user.username.title()}}/Reset Password{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css')}}">

{% endblock %}


{% block content %}
{% if request.endpoint == 'reset_password' %}
<body class="authentication-section">
{% else %}
<body>
{% endif %}
<div class="form-container">
  <div class="content">
    <div class="text">Reset Password</div>
    <form class="authentication-form" action="{{ url_for('reset_password',username=current_user.username) }}" method="POST">
      {{ form.csrf_token }}
            
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {%for category, message in messages%}
                <div class="alert alert-{{category}} smaller-text" role="alert" id="flash-message">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      {% if form.new_confirm_password.errors %}
          <div class="alert alert-danger mt-2 smaller-text" role="alert">
              {{ form.new_confirm_password.errors[0] }}
          </div>
      {% endif %}

      <div class="field">
        <span class="fas fa-lock"></span>
        {{ form.old_password(placeholder="Enter your old password", required="required") }}
      </div>
      <div class="field">
        <span class="fas fa-lock"></span>
        {{ form.new_password(placeholder="Enter your new password", required="required") }}
      </div>
      <div class="field">
        <span class="fas fa-lock"></span>
        {{ form.new_confirm_password(placeholder="Confirm your new password", required="required") }}
      </div>

      <button class="authentication-btn">Reset Password</button>
    </form>
  </div>
</div>
</body>
{% endblock %}
